---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      import "bootstrap/dist/css/bootstrap.min.css";
      import "bootstrap/dist/js/bootstrap.bundle.min.js";
    </script>
  </head>
  <body>
    <slot />
    <button
      class="btn btn-light border"
      data-bs-target="#ejemplo"
      data-bs-toggle="collapse"
      aria-expanded="false"
      aria-controls="ejemplo">Expandir</button
    >
    <div class="collapse" id="ejemplo">
      <div class="row">
        <div class="col">
          <h2>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
            similique commodi harum, voluptatibus laboriosam voluptatum
            assumenda doloremque nisi est modi cumque asperiores saepe sint
            exercitationem ipsam ad. Eius, quas perspiciatis.
          </h2>
        </div>
      </div>
    </div>
  </body>
</html>
<style is:global>
  * {
    box-sizing: content-box;
  }
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
